<div class="contacte-nos-card">
  <div class="card">
    <div class="contacte-nos">
      <!-- Título da seção -->
      <h2>Contacte-nos</h2>
      <!-- Parágrafo de introdução -->
      <p>Para entrar em contato conosco,<br> utilize os seguintes meios:</p>
      <!-- Lista de informações de contato -->
      <ul>
        <li><strong>Telefone:</strong><a href="tel:+351965313015">+351 965313015</a></li>
        <li><strong>Email:</strong><a href="mailto:joy.josie.sousa@gmail.com">joy.josie.sousa@gmail.com</a></li>
        <li><strong>GitHub:</strong> <a href="https://github.com/Joyzy79" target="_blank">joyzy79</a></li>
        <li><a mat-button routerLink="/alterar-senha">Alterar Senha</a></li>
      </ul>
    </div>
  </div>
</div>
