<mat-toolbar color="primary">
  <span>Angular Bank</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/movimentacao">Movimentação</button>
  <button mat-button routerLink="/operacoes">Operações</button>
  <button mat-button routerLink="/contacte-nos">Contacte-nos</button>
  <span class="mat-toolbar-end">
    <button mat-button (click)="deslogar()">
      <span class="material-icons">logout</span>
    </button>
  </span>
</mat-toolbar>

  
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
