/* Estilos para o contêiner da seção de movimentação */
.movimentacao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(175, 230, 220);
}

/* Estilos para o título da seção de movimentação */
h4 {
  color: #6b045f;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

/* Estilos para o card de saldo */
.saldo-card {
  width: 400px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #f9f5fa;
  border: 1px solid #c2185b;
  background-color: #c2185b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para a lista de movimentações */
.movimentacao-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para os cards de movimentação */
.card {
  width: 400px;
  height: 25px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #c169cbb1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

/* Estilos para o conteúdo dos cards de movimentação */
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20px;
}

/* Estilos para o ícone dentro do card */
.card-content mat-icon {
  margin-left: 10px; /* Faltou especificar a unidade de medida */
}

/* Estilos para a data no card */
.span-data {
  font-size: 12px;
  color: #888;
  justify-content: center;
}

/* Estilos para a lista de itens dentro do card */
.card ul.list-inline {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Estilos para cada item na lista do card */
.card ul.list-inline li {
  margin-right: 60px;
}
